<h1><a href="#part2">click to go part # 2</a></h1>
<h1>List of Postal Code in the Toronto city, Canada</h1>
<i>The first step consist in import required Python libraries</i>

In [8]:
# import required libs
import requests
from bs4 import BeautifulSoup
import pandas as pd

<i>Next requesting the wikipedia uri</i>

In [9]:
# requesting uri
wikilink = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
res = requests.get(wikilink)

<i>Then, with <b>bs4</b> lib, we read the content, extract the first html-table and read it with <b>pandas</b> </i>

In [10]:
soup  = BeautifulSoup(res.content, "lxml") # read/parse html-content
wikitable = soup.find_all("table")[0] # get first html-table
wk_df = pd.read_html(str(wikitable))[0] # read/convert to pandas dataframe

<i>Now, let's start cleaning and adjusting our dataframe</i>

In [11]:
wk_df.columns= ['PostalCode', 'Borough', 'Neighbourhood'] # columns header for our dataframe
wk_df.drop(0, inplace=True) # the first row have we header column name, the drop it
wk_df = wk_df[wk_df.Borough != 'Not assigned'] # if Borough have Not assigned string then ignore

# locate Neighbourhood with 'Not assigned' string then replace with the Borough string content
wk_df.loc[wk_df.Neighbourhood == 'Not assigned', 'Neighbourhood'] = wk_df.Borough

# at this point we need group PostalCode and Borough with the same name, then apply the magic!
# join Neighbourhood belong to repeated PostalCode, combined into one row 
wk_df = wk_df.groupby(['PostalCode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()

<i>Print top 15 rows</i>

In [13]:
# print 15 first rows
wk_df.head(-15)

   PostalCode       Borough                                      Neighbourhood
0         M1B   Scarborough                                     Rouge, Malvern
1         M1C   Scarborough             Highland Creek, Rouge Hill, Port Union
2         M1E   Scarborough                  Guildwood, Morningside, West Hill
3         M1G   Scarborough                                             Woburn
4         M1H   Scarborough                                          Cedarbrae
..        ...           ...                                                ...
83        M6R  West Toronto                             Parkdale, Roncesvalles
84        M6S  West Toronto                                 Runnymede, Swansea
85        M7A  Queen's Park                                       Queen's Park
86        M7R   Mississauga              Canada Post Gateway Processing Centre
87        M7Y  East Toronto  Business Reply Mail Processing Centre 969 Eastern

[88 rows x 3 columns]

In [14]:
# shape of dataframe
wk_df.shape

(103, 3)

<h1><a id="part2">Init of part # 2</a></h1>
<i>First step consist in download the geo coordinates file</i>

In [3]:
!wget -q -O 'Geospatial_Coordinates.csv' https://cocl.us/Geospatial_data
print ('File is here!')

File is here!

<i>Then read the csv files with pandas awesome lib</i>

In [15]:
geo_df = pd.read_csv('Geospatial_Coordinates.csv')
geo_df.head(-15)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
83         M6R  43.648960 -79.456325
84         M6S  43.651571 -79.484450
85         M7A  43.662301 -79.389494
86         M7R  43.636966 -79.615819
87         M7Y  43.662744 -79.321558

[88 rows x 3 columns]

<i>Next step consist in asign latitude and longitude to our dataframe</i>

In [18]:
wk_df['Latitude'] = geo_df.Latitude
wk_df['Longitude'] = geo_df.Longitude

In [21]:
wk_df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476